@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');
$gradient-colors: #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000;

$darkPurple: #35155D;
$lightPurple: #6c449e;
$darkBlue: #4477CE;
$lightBlue: #8CABFF;

html {
    scroll-behavior: smooth;
}


.box{
    height: 60vh;
    background: linear-gradient(to bottom, $lightPurple, #310f5a);
    padding-top: 150px;
    text-align: center;
    
}


.title{
    font-family: 'Phudu', cursive;
    font-weight: 700;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;

}


.itemContact{
    height: 80px;
    border-radius: 50%;
    
}

.pContact{
    font-family: 'Phudu', cursive;
    font-weight: 300;
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin: 5px;
    
}
.contact{
    margin: 30px;
}


.formatContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .contact {
        margin: 10px;
        transition: transform 0.3s ease; // Adiciona uma transição suave

        &:hover {
            transform: scale(1.05); // Aumenta ligeiramente o tamanho no hover
        }

        a {
            text-decoration: none;
        }

    }
}