<div id="about" class="box">
    <div class="divisionInfo">
        <div class="textStart">
            <h1 class="title">Hello my name is <span>Gabriel Fasolim :)</span></h1>
            <h3 class="devTitle">Developer</h3>
            <div class="button">
                <a target="_blank" href="../../../assets/Curriculo Gabriel Lima Fasolim --.pdf"><button class="glow-on-hover" type="button">DOWNLOAD CV</button></a>
                <a href="#contato"><button class="glow-on-hover" type="button">CONTACT</button></a>
            </div>
            
        </div>
        <a target="_blank" href="https://github.com/GabrielFasolim"><img class="picprofile" src="../../../assets/picprofile2.png" alt="minha foto"></a>
    </div>    
    <div class="textAbout">
        <h3>About Me</h3>
        <p class="aboutMe" >
            Born in Pato Branco, Paraná, I took on the challenge of moving to Curitiba to enhance my knowledge. Currently pursuing a degree in Information Systems at PUCPR,
            I have skills in Software Development, including Python, HTML5, CSS3, JavaScript (including AJAX and jQuery), SQL, Angular, Vue.js, Java, C#, and .NET. Additionally, I participated in the Award-Winning ICHILD Project in 2023, which developed an innovative solution for Intelligent School Transport Management, receiving recognition from the Evaluation Board and Popular Vote. I have professional experience with .NET and Vue.js. 
            Determined and passionate about Technology, I know that I possess fundamental skills to collaborate on various projects within my field.

        </p>
        <div class="xpLanguage">
            <div class="xp">
                <h3>EXPERIENCE</h3>
                <p class="aboutMe">
                    <strong>
                        RadioEnge - 6 months
                    </strong> 
                </p>
                <p class="aboutMe">
                    Vue.js, .NET, SQL Server
                </p>
                    
                
                <p class="aboutMe">
                    <strong>Hardness sistemas - 3 months</strong>
                </p>  
                <p class="aboutMe">
                    PHP, JavaScript, MySQL, jQuery, AJAX
                </p>
            </div>
            <div class="languages">
                <h3>LANGUAGES</h3>
                <p class="aboutMe">
                    Português - Native
                </p>    
                <p class= "aboutMe">Inglês - Advance </p>
                
            </div>
        </div>
    </div>
</div>