<div id="about" class="box">
    <div class="divisionInfo">
        <div class="textStart">
            <h1 class="title">Hello my name is <span>Gabriel Fasolim :)</span></h1>
            <h3 class="devTitle">Developer</h3>
            <div class="button">
                <a target="_blank" href="../../../assets/Curriculo Gabriel Lima Fasolim --.pdf"><button class="glow-on-hover" type="button">DOWNLOAD CV</button></a>
                <a href="#contato"><button class="glow-on-hover" type="button">CONTACT</button></a>
            </div>
            
        </div>
        <a target="_blank" href="https://github.com/GabrielFasolim"><img class="picprofile" src="../../../assets/picprofile2.png" alt="minha foto"></a>
    </div>    
    <div class="textAbout">
        <h3>About Me</h3>
        <p class="aboutMe" >
            Originally from Pato Branco in Paraná, I took on the challenge of moving to Curitiba in search of improving my knowledge. Currently studying Information Systems at PUCPR, where I am also a Web Development Monitor for the Information Systems course, I have skills in Software Development, including Python, HTML5, CSS3, JavaScript( Angular, Vue.js), MySQL, C#(NET). Furthermore, I participated in the ICHILD Award-Winning Project in 2023, which developed an innovative solution for Intelligent School Transport Management, receiving recognition from the Evaluation Board and Popular Vote. I have professional experience with .NET and Vue.js. Determined and passionate about Technology, I know that I have fundamental skills to collaborate on the most diverse projects within my segmentation.

        </p>
        <div class="xpLanguage">
            <div class="xp">
                <h3>EXPERIENCE</h3>
                <p class="aboutMe">
                    <strong>
                        RadioEnge - 9 months
                    </strong> 
                </p>
                <p class="aboutMe">
                    Vue.js, .NET, SQL Server
                </p>
                    
                
                <p class="aboutMe">
                    <strong>Hardness sistemas - 3 months</strong>
                </p>  
                <p class="aboutMe">
                    PHP, JavaScript, MySQL, jQuery, AJAX
                </p>
            </div>
            <div class="languages">
                <h3>LANGUAGES</h3>
                <p class="aboutMe">
                    Português - Native
                </p>    
                <p class= "aboutMe">Inglês - Advanced </p>
                
            </div>
        </div>
    </div>
</div>