<div id="about" class="box">
    <div class="divisionInfo">
        <div class="textStart">
            <h1 class="title">olá meu nome é <span>Gabriel Fasolim :)</span></h1>
            <h3 class="devTitle">desenvolvedor</h3>
            <div class="button">
                <a target="_blank" href="../../../assets/Gabriel Fasolim CV- PT BR.pdf"><button class="glow-on-hover" type="button">CURRÍCULO</button></a>
                <a href="#contato"><button class="glow-on-hover" type="button">CONTATO</button></a>
            </div>
        </div>
        <a target="_blank" href="https://github.com/GabrielFasolim"><img class="picprofile" src="../../../assets/picprofile2.png" alt="minha foto"></a>
    </div>    
    <div class="boxTitulo">
        <h3 class="titulo">Sobre Mim</h3>
    </div>
    <div class="content">
        <div class="textAbout">
            
            <p class="aboutMe">
                Natural de Pato Branco, Paraná, mudei para Curitiba para aprofundar meus conhecimentos em tecnologia e atualmente
                estou cursando Sistemas de Informação na PUCPR. Como monitor de Desenvolvimento Web, auxilio os estudantes na
                compreensão de conceitos de programação e no desenvolvimento de projetos reais.
                Tenho habilidades técnicas em JavaScript (Angular, Vue.js), MySQL e C# (.NET), com experiência profissional em .NET e
                Vue.js. Contribuí para dois projetos premiados: ICHILD (2023), uma solução inteligente para gestão de transporte escolar, e
                Agenda Hub (2024), uma plataforma criativa para gestão de agendamentos, ambos reconhecidos pelo Conselho Avaliador e
                pelo Voto Popular.
                Atualmente, lidero o desenvolvimento Front-End de um projeto IoT para sistemas de iluminação inteligente, com foco na
                redução de custos operacionais e na melhoria da eficiência.
            </p>
        </div>
        <div class="xpLanguage">
            <div class="xp">
                <h3>experiência</h3>
                <p class="aboutMe">
                    <strong>RadioEnge - 1.2 ANOS</strong>
                </p>
                <p class="aboutMe">
                    Vue.js, .NET, MYSQL
                </p>
                <p class="aboutMe">
                    <strong>Hardness sistemas - 3 MESES</strong>
                </p>  
                <p class="aboutMe">
                    PHP, JavaScript, MySQL, jQuery, AJAX
                </p>
                <div class="languages">
                    <h3>Línguas</h3>
                    <p class="aboutMe">
                        Português - Nativo
                    </p>    
                    <p class="aboutMe">Inglês - Avançado</p>
                </div>
            </div>
        </div>
    </div>
</div>