@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');
$gradient-colors: #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000;

$darkPurple: #35155D;
$lightPurple: #6c449e;
$darkBlue: #4477CE;
$lightBlue: #8CABFF;


.box{
    height: 100vh;
    background: linear-gradient(to top, $lightPurple, #310f5a);
    display: flex;
    justify-content: center;
    font-family: 'Phudu', cursive;
    font-weight: 700;
    color: white;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    
    
}
.cardsProjects {
    margin: 10px;
    transition: box-shadow 0.3s ease; // Adiciona uma transição suave para a sombra
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Sombra quando o elemento é hover
        border-bottom: none; // Remove a "border-bottom"
    }
}


        
.cards{
    display: flex;
    margin: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; // Espaço entre os cards

    .cardsProjects {
        perspective: 1000px; // Adiciona uma perspectiva para a rotação 3D
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); // Transição suave com uma curva de bezier personalizada

        img {
            max-width: 100%;
            height: auto;
        }

        &:hover {
            transform: rotateY(20deg) rotateX(10deg) scale(1.05); // Rotação 3D e aumento de tamanho no hover
        }
    }
}
