<div id="projetos" class="box">
    <h3>MAIN PROJECTS</h3>
    <div class="cards">
        <p-card class="cardsProjects" *ngFor="let item of projects" header="{{item.header}}" [style]="{ width: '360px'}">
            <ng-template pTemplate="header">
                <a (click)="open(item)"><img alt="Card" [src]="item.imagem" /></a>
            </ng-template>
            <p>
                <span>{{item.p}}</span>
            </p>
        </p-card>
    </div>

    <button class="glow-on-hover" type="button"><a style="text-decoration: none; color: white;" target="_blank" href="https://github.com/GabrielFasolim">View on Git Hub</a></button>



</div>

