


<div id="box" class="box" >
    <h2 class="title">Habilities</h2>
    <div class="habilidades" >
        <img class="icons" src="../../../assets/angularIcon.png" alt="">
        <img class="icons" src="../../../assets/vueicon.png" alt="">
        <img class="icons" src="../../../assets/csharpicon.png" alt="">
        <img class="icons" src="../../../assets/typescripticon.png" alt="">
        <img class="icons" src="../../../assets/pythonIcon.png" alt="">
        <img class="icons" src="../../../assets/sqlIcon.png" alt="">
    </div>
</div>

