
<div class="box">
    <h2 class="title">Habilites</h2>
    <div class="habilidades">
        <img class="icons" src="../../../assets/angularIcon.png" alt="">
        <img class="icons" src="../../../assets/css.png" alt="">
        <img class="icons" src="../../../assets/javaIcon.png" alt="">
        <img class="icons" src="../../../assets/jsIcon.png" alt="">
        <img class="icons" src="../../../assets/pythonIcon.png" alt="">
        <img class="icons" src="../../../assets/sqlIcon.png" alt="">
        <img class="icons" src="../../../assets/php.png" alt="">
    </div>
</div>

