@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');
$gradient-colors: #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000;

$darkPurple: #35155D;
$lightPurple: #6c449e;
$darkBlue: #4477CE;
$lightBlue: #8CABFF;


.box{
    height: 50vh;
    background: linear-gradient(to bottom, $lightPurple, #310f5a);
    padding-top: 40px;
    text-align: center;


}


.title{
    font-family: 'Phudu', cursive;
    font-weight: 700;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
   
}

.icons{
    height: 150px;
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}



