@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');

$gradient-colors: #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000;

$darkPurple: #35155D;
$lightPurple: #6c449e;
$darkBlue: #4477CE;
$lightBlue: #8CABFF;

html {
    scroll-behavior: smooth;
}

.box {
    height: 50vh;
    background: linear-gradient(to bottom, $lightPurple, #310f5a);
    padding-top: 150px;
    text-align: center;

    @media (max-width: 1366px) {
        padding-top: 120px;  // Ajuste para a resolução 1366 x 768
        height: 45vh; // Reduz um pouco a altura
    }

    @media (max-width: 1024px) {
        padding-top: 650px;
        padding-bottom: 200px; // Ajuste o padding para telas menores
        height: auto; 
    }

    @media (max-width: 768px) {
        height: auto; 
        padding-top: 100px; 
        padding-bottom: 150px;
    }
}

.title {
    font-family: 'Phudu', cursive;
    font-weight: 700;
    color: white;
    font-size: 2rem; 
    margin: 0;
    padding: 0;

    @media (max-width: 1368px) {
        font-size: 1.8rem;
        padding-top: 150px;
        //padding-bottom: 200px; // Reduz levemente para a resolução 1366 x 768
    }

    @media (max-width: 1024px) {
        font-size: 1.5rem;
    }

    @media (max-width: 768px) {
        font-size: 1.3rem; 
    }
}

.icons {
    height: 150px;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 1368px) {
        height: 120px; // Ajusta altura dos ícones para a resolução 1366 x 768
    }

    @media (max-width: 1024px) {
        height: 110px;
    }

    @media (max-width: 768px) {
        height: 100px;
    }
}
