<div class="box" *ngFor="let item of details">
  <div class="textVideo" >
    <div>
      <img class="picImg" src="../../../assets/neycapateste.jpg" alt="">
    </div>
    <div class="text">
      <h2>{{item.titulo}}</h2>
      <p class="description">
        "Soccer na Gringa" é um site dedicado ao futebol internacional focado para proxima copa do mundo que promove um canal do YouTube e busca atrair patrocinadores. Oferece conteúdo de alta qualidade, incluindo vídeos, feito puramente em HTML, CSS, JS
      </p>
      <p class="topicos">topicos</p>
      <p class="date">28/10/2023</p>
    </div>
  </div>

  <div class="botao">
    <button class="glow-on-hover" type="button">View on Git Hub</button>
    <button class="glow-on-hover" type="button">Visit</button>
  </div>
  

</div>
