<div class="box" >
  <div class="close">
    <img class="closeButton" src="../assets/x.png" alt="close" (click)="fecharDialog()">
  </div>
  <div class="textVideo" >
    <div class="video">
      <video class="video" controls>
        <source [src]="details.video" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
    <div class="text">
      <h2 class="titulo">{{details.header}}</h2>
      <p class="description">
        {{details.descricaoDetails}}
      </p>
      <p class="date">{{details.data}}</p>
      <div class="boxLanguages">
        <img  *ngFor="let item of details.topicos" class="languages" [src]="item.imagem" alt="">
      </div>
      <div class="botao">
        <a href=""><button class="glow-on-hover" type="button">View on Git Hub</button></a>
        <a target="_blank" [href]="details.link"><button class="glow-on-hover" type="button" *ngIf="details.hospedado === 'sim'">Visit</button></a>
      </div>


    </div>
  </div>



</div>
